/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require semantic-ui-css/semantic.min
 *= require semantic-ui-calendar/dist/calendar.min.css
 *= require semantic-ui-css/components/dropdown.min.css
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";

body > .grid {
  height: 100%;
}
.image {
  margin-top: -100px;
}
.column {
  max-width: 450px;
  //@fontPath 'themes/default/assets/fonts';
}

.ui.dropdown .remove.icon {
  font-size: 0.857143em;
  float:left;
  margin:0;
  padding:0;
  left:-0.7em;
  top:0;
  position:relative;
  opacity: 0.5;
}

.ui.dropdown input[value=''] ~ .remove.icon, .ui.dropdown input:not([value]) ~ .remove.icon
{
  opacity: 0.0;
}