<div class="ui fullscreen modal">
  <div class="header">Header</div>
  <div class="scrolling content">
    <p>Very long content goes here</p>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Fechar
    </div>
  </div>
</div>